<!doctype html>
<html ng-app ="gradeTable">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/css_overrides.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <meta name="viewport" content="initial-scale=1, user-scalable=no">
</head>
<body>
<div class="container">
    <div ng-controller="gradeAveDataCtrl as gc" class="col-md-12 col-xs-12">
        <!-- only show this for desktop -->
        <h1 class="hidden-xs"><strong>Student Grade Table</strong>
          <small class="pull-right"><strong>Grade Average :</strong><span class="avgGrade badge">{{gc.getGradeAverageData()}}</span></small>
        </h1>
        <hr class="hidden-xs">
        <!-- only show this for mobile -->
        <h3 class="visible-xs"><strong>Student Grade Table</strong>
            <small class="pull-right"><strong>Grade Average :</strong><span class="avgGrade badge">{{gc.getGradeAverageData()}}</span></small>
        </h3>
        <div class="row">
          <hr class="visible-xs">
        </div>
    </div>
    <div class="col-md-9 col-xs-12">
      <div>
        <p> </p>
      </div>
    </div>
    <div ng-controller="addStudDataCtrl as ac" class="col-md-3 pull-right col-xs-12">
      <h4><strong>Add Student</strong></h4>
      <div class=" form-group input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-user"></span>
        </span>
        <input ng-model="ac.student.name" type="text" class="form-control" name="studentName" id="studentName" placeholder="Student Name" required>
      </div>
      <div class=" form-group input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-list-alt"></span>
        </span>
        <input ng-model="ac.student.course" type="text" class="form-control" name="course" id="course" placeholder="Student Course">
      </div>
      <div class="form-group input-group">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-education"></span>
        </span>
        <input ng-model="ac.student.grade" type="text" class="form-control" name="studentGrade" id="studentGrade" placeholder="Student Grade">
      </div>
      <div class="row form-group text-center">
        <button ng-click='ac.additionalStudent()' type="button" class="btn btn-success"><strong>Add</strong></button>
        <button ng-click='ac.clearStudentForm()' class="btn btn-default"><strong>Cancel</strong></button>
      </div>
      <div ng-controller="getStudDataCtrl as sc" class="row form-group text-center">
        <button ng-click='sc.obtainData()' type="button" class="btn btn-warning"><strong>Update Student Grade Table</strong></button>
      </div>
    </div>
    <div ng-controller="displayDataCtrl as dc" class="student-list-container col-md-9 pull-left col-xs-12">
      <div class="form-inline">
        <div class=" input-group form-group has-success">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </span>
          <input ng-model="filterStudent.name" type="text" class="form-control has-success" name="search" id="search" placeholder="Search for Student">
        </div>
        <div class=" input-group form-group has-success">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-filter"></span>
          </span>
          <input ng-model="filterGrade.grade" type="text" class="form-control" name="filter" id="filter" placeholder="Filter By Grade">
        </div>
      </div>
      <table class="table table-responsive table-striped student-list">
        <thead>
          <tr>
            <th><strong>Student Name</strong></th>
            <th><strong>Student Course</strong></th>
            <th><strong>Student Grade</strong></th>
            <th><strong>Operation</strong></th>
          </tr>
        </thead>
        <tbody ng-controller="removeStudDataCtrl as rc">
          <tr ng-repeat="student in dc.displayStudents() | filter:filterStudent | filter:filterGrade">
            <td>{{student.name}}</td>
            <td>{{student.course}}</td>
            <td>{{student.grade}}</td>
            <td><button ng-click="rc.catchData($index)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>